body {
    width: 800px;
    font-family: sans-serif;
    background: url('/images/bats.gif') repeat;
    background-repeat: repeat;
    background-color: white;
    margin: 5px;
    padding: 0px;
    border: 5px solid black;
    box-shadow: 5px 5px 5px rgba(red, green, blue, alpha);
}

#container {
    width: 800px;
    margin: 30px auto;
    background-color: white;
    border: 2px solid black;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(45deg, white, orange 50%, black);
    color: black;
    padding: 20px;
    overflow: auto;
    border-bottom: 2px solid black;
}

header img {
    float: left;
    margin-right: 20px;
    width: 80px;
    height: auto;
}

header h1 {
    color: black;
    font-style: italic;
    text-shadow: 2px 2px 4px black;
    margin: 0;
}

header h2 {
    margin: 5px 0 0 0;
    padding-left: 10px;
}

main {
    padding: 20px;
} 

main h1 {
    font-size: 2em;
}
main h1::first-letter {
    font-size: 200%;
    font-weight: bold;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 20px;
}

ul li a {
    display: block;
    margin-bottom: 10px;
}

a {
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: orange;
}

a:hover, a:focus {
    color: green;
}

footer {
    text-align: center;
    padding: 15px;
    background: linear-gradient(45deg, black, orange 50%, white);
    color: black;
    font-weight: bold;
    border-top: 2px solid black;
}

